body{
	background-color: #f2f2f2;
}
.fotonoticia{
	height: auto;

	

}
.texto1{
		text-align: justify;
		height: 275px;
		overflow: hidden;
		background-color:  #d9d9d9;
			font-family: 'Skranji', cursive;
}
.publicidad1{
		border-style: solid;
	border-color: green;
	background-color: red;
	height: 90px;
	position: fixed;
	bottom: 2%;
	left: 10%;
	width: 80%;
	z-index: 100;
}

.ls{
	height: 60px;
	background-color: #f2f2f2;
	z-index: -10;
}
.ls1{
	height: 100px;
	margin-top: -17%;
	
}
.ls3{
		height: 60px;
	background-color: #f2f2f2;
	z-index: -10;
}
#botonCarga{
	margin:auto;
}
.titulo1{
	border-style: solid;
	border-color: #bfbfbf;
	background-color: ivory;
	word-break: keep-all;
font-size: 1.60em;
text-align: center;
font-family: 'Piedra', cursive;


}
.texto1G{
	height: auto;
	border-bottom: solid;
		border-left: solid;
	border-right: solid;
	border-color: #bfbfbf;
	text-align: justify;
		font-family: 'Skranji', cursive;
}
.fotonoticiaG{
text-align: -moz-center;
	height: auto;
	border-left: solid;
	border-right: solid;
	border-color: #bfbfbf;
	
}
	
.cabeceraB{
	border-style: solid;
	border-color: #bfbfbf;

	

	background-color: #bfbfbf;
}
a:link, a:visited, a:active {
	text-decoration: none;
	color:black;
}
a:hover {
	color:lightgrey;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    text-decoration: none;
}
#uno{
	margin-left: -19px;
}

.ocultar1{
display: none;
}
.ocultar2{
display: none;
}